* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #495666;
}

td {
    width: 277px;
    height: 69px;
    box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.27);
    text-align: center;
}

.first_row td:first-of-type {
    box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.27);
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 30px auto;
}

.buttoms-row {
    width: 307px;
    height: 107px;
}

.white-grey_row, .buttoms-row {
    background-color: #f2f2f2;
}

.grey_row {
    background-color: #e3e3e3;
}

.first_row, .second_row {
    background-color: #fafafa;
}

.second_row {
    height: 86px;
}

.green-box {
    background-color: #89c331;
}

.red-box {
    background-color: #f04a56;
}

.moregreen-box {
    background-color: #20807c;
}

.white-ground {
    background-color: #fafafa;
}

.text-in-color-block, .text-in-color-block-size {
    font-family: "Arimo", sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.text-in-color-block-size {
    font-size: 30px;
}

.pricing-plan, .choose-your {
    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.choose-your {
    font-size: 18px;
}

.price {
    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 60px;
    font-weight: 700;
}

.price-now {
    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 18px;
    margin-left: 30px;
}

.price-small {
    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.month {
    position: relative;
    top: -3px;
    left: -37px;
    text-transform: uppercase;
}

.text-description {
    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

#buttoms-contact, #buttoms-buy-green, #buttoms-buy-pink, #buttoms-buy-darkgreen {
    width: 192px;
    height: 49px;
    background-color: #484848;
    color: #fff;
    border-radius: 5px;
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .27);
}

#buttoms-buy-green {
    background-color: #89c331;
}

#buttoms-buy-green:hover {
    transition: 1s;
    background-color: #0c75ed;
    font-size: 14px;
    text-decoration: underline;
    border: 1px solid #ffffff
}

#buttoms-contact:hover {
    transition: 1s;
    background-color: #cfcfde;
    font-size: 14px;
    text-decoration: underline;
    border: 1px solid #000000;
}

#buttoms-buy-pink:hover {
    transition: 1s;
    background-color: #f06326;
    font-size: 14px;
    color: #000000;
    text-decoration: underline;
    border: 1px solid #000000;
}

#buttoms-buy-darkgreen:hover {
    transition: 1s;
    background-color: #ee234e;
    font-size: 15px;
    color: #000000;
    text-decoration: underline;
    border: 1px solid #484848;
}

#buttoms-buy-pink {
    background-color: #f04a56;
}

#buttoms-buy-darkgreen {
    background-color: #16736f;
}

i {
    color: #484848;
    margin-right: 10px;
}

.icons-names {
    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}