.conteiner {
    background-image: url(../img/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    overflow: auto;
}

.page {
    width: 1065px;
    margin: 0 auto;
    padding-top: 50px;
}
.header{
    width: 1065px;
    margin: 0 auto; 
    margin-bottom: 50px; 
}
.milan {
    width: 170px;
    float: left;
}
.logo-link{
    text-decoration: none;
}
.logo-milan {
    display: block;
    float: left;
    background-image: url(../img/logo.png);
    width: 46px;
    height: 44px;
}

.milan-one {
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    position: relative;
    top: 1px;
    left: 13px;
    text-transform: uppercase;
    text-decoration: none;
}

.milan-two {
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    position: relative;
    top: 5px;
    left: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.info-one {
    float: right;
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 18px;
    text-align: left;
}

.info-two {
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    clear: both;
    float: right;
}

.info-block {
  float: right;
  
  
}

.photo-iteam-one {
    float: left;
    margin-right: 72px;
    position: relative; 
}

.photo-iteam-four {
    float: left;
    margin-right: 72px;
    position: relative;
}



.photo-iteam-left {
    float: left;
    position: relative;
}


.photo-iteam-right {
    float: right;
    position: relative;
}

.iteam-one-text {
    display: block;
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    margin-top: 23px;
}

.photo-content {
    margin-top: 45px;
}

.photo-content-second {
    position: relative;
    top: 93px;
}

.block {
    position: absolute;
    left: 0;
    bottom: 47px;
    right: -1px;
    top: 135px;
    background: rgb(242, 101, 34);
    display: none;
}

.detail-one {
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 10px;
    line-height: 21px;
    text-align: left;
    padding: 10px 10px 10px 30px;
}

.detail-one-more {
    font-size: 20px;
    line-height: 21px;
    text-align: left;
}

.detail-one-link {
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    margin-left: 80px;
    text-decoration: none;
}

.copy {
    margin-top: 120px;
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
}

.clear {
    clear: both;
}

.block {
    animation-name: block;
    -webkit-animation-name: block;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}

/* Hovers */
.milan:hover .milan-one {
    color: #f26522;
}

.milan:hover .milan-two {
    color: #f26522;
}

.photo-iteam-one:hover .iteam-one-text {
    color: #f26522;
}

.photo-iteam-two:hover .iteam-one-text {
    color: #f26522;
}

.photo-iteam-three:hover .iteam-one-text {
    color: #f26522;
}

.photo-iteam-four:hover .iteam-one-text {
    color: #f26522;
}

.photo-iteam-five:hover .iteam-one-text {
    color: #f26522;
}

.photo-iteam-six:hover .iteam-one-text {
    color: #f26522;
}

.milan:hover .logo-milan {
    background-image: url(../img/logo-2.png);
}

.detail-one-link::after {
    content: url(../img/Arrow.png);
    position: absolute;
    left: 250px;
    top: 33px;
}

.photo-iteam-one:hover .block {
    display: block;
}

.photo-iteam-four:hover .block {
    display: block;
}

.photo-iteam-right:hover .block {
    display: block;
}

.photo-iteam-left:hover .block {
    display: block;
}

/* Animations */

@keyframes block {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(-8%);
    }
    65% {
        transform: translateY(4%);
    }
    80% {
        transform: translateY(-4%);
    }
    95% {
        transform: translateY(2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes block {
    0% {
        -webkit-transform: translateY(100%);
    }
    50% {
        -webkit-transform: translateY(-8%);
    }
    65% {
        -webkit-transform: translateY(4%);
    }
    80% {
        -webkit-transform: translateY(-4%);
    }
    95% {
        -webkit-transform: translateY(2%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}
.iteam-one{
    border-left: 2px solid; 
    border-right: 2px solid; 
    border-image: linear-gradient(to bottom, black, white) 1 100%;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }