@font-face {
    font-family: "Verdana", sans-serif;
    src: url(../fonts/Verdana.ttf);
    src: url(../fonts/Verdana.eot);
    src: url(../fonts/Verdana-Bold.eot);
    src: url(../fonts/Verdana-Bold.ttf);
    src: url(../fonts/Verdana-Italic.eot);
    src: url(../fonts/Verdana-Italic.ttf);
}

.background {
    background-image: url(../img/fon.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    overflow: auto;
}

header {
    background-color: rgba(0, 0, 0, 0.41);
    width: 100%;
    height: 54px;
}

.logo-name {
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    left: 81px;
    top: 20px;
    transition: 0.7s;
}

.welcome-form {
    float: right;
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    margin-right: 90px;
    margin-top: 20px;
}

.login-signup {
    font-family: "Verdana", sans-serif;
    color: #3cb878;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
}

.icons {
    display: inline-block;
    padding-right: 15px;
}

.icon-one {
    background: url(../img/header-icons.svg) no-repeat;
    display: block;
    width: 25px;
    height: 25px;
    padding-right: 15px;
    background-position: 6px 1px;
    transition: 0.7s;
}

.icon-two {
    background: url(../img/header-icons.svg) no-repeat;
    display: block;
    width: 25px;
    height: 25px;
    padding-right: 15px;
    background-position: -42px 2px;
    transition: 0.7s;
}

.icon-three {
    background: url(../img/header-icons.svg) no-repeat;
    display: block;
    width: 25px;
    height: 25px;
    padding-right: 15px;
    background-position: -100px 1px;
    transition: 0.7s;
}

.line-icon-right {
    display: block;
    width: 1px;
    height: 25px;
    padding-right: 10px;
    border-right: 1px solid #302f2e;;
    float: right;
}
.line-face {
    width: 1px;
    height: 25px;
    border-right: 1px solid #224387;
    position: relative;
    top: 11px;
    left: 47px;
    display: inline-block;

}
.line-google {
    width: 1px;
    height: 25px;
    border-right: 1px solid #af3a28;;
    position: relative;
    top: 11px;
    left: 47px;
    display: inline-block;

}

.header-icons {
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}

.clear {
    clear: both;
}

/* Центральный блок */

main {
    width: 100%;
    margin-top: 70px;
}

.form-register {
    margin: 0 auto;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 635px;
    background-color: #ffffff;
    border-radius: 10px;
}

.green-square {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: relative;
    top: 47px;
}

.signup-form {
    font-family: "Verdana", sans-serif;
    display: block;
    float: left;
    color: #434343;
    font-size: 20px;
    line-height: 21px;
    text-align: left;
    margin-left: 60px;
    margin-top: 26px;
    text-decoration: none;
}

.login-form {
    display: block;
    float: right;
    text-decoration: none;
    font-family: "Verdana", sans-serif;
    color: #3cb878;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    margin-right: 60px;
    margin-top: 27px;
}

.facebook-google {
    margin-top: 20px;
}

.facebook {
    border-radius: 3px;
    background-color: #305db8;
    width: 157px;
    height: 46px;
    position: relative;
    float: left;
    margin-left: 60px;
}

.facebook-logo {
    position: absolute;
    top: 12px;
    left: 20px;
}

.facebook-name {
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    padding: 12px 23px;
    float:right;
}

.facegoog-link {
    text-decoration: none;
}

.google {
    border-radius: 3px;
    background-color: #df4a32;
    width: 157px;
    height: 46px;
    position: relative;
    float: right;
    margin-right: 60px;
}

.google-logo {
    position: absolute;
    top: 15px;
    left: 15px;
}

.google-name {
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    padding: 12px 37px;
    float:right;
}

.lines {
    margin-top: 26px;
    text-align: center;
    font-family: "Verdana", sans-serif;
    color: #848484;
    font-size: 14px;
}

.line-left {
    border: none;
    /* Убираем границу для браузера Firefox */
    color: #bebebe;
    /* Цвет линии для остальных браузеров */
    background-color: #bebebe;
    /* Цвет линии для браузера Firefox и Opera */
    height: 1px;
    /* Толщина линии */
    width: 140px;
    margin-left: 60px;
    float: left;
}

.line-right {
    border: none;
    /* Убираем границу для браузера Firefox */
    color: #bebebe;
    /* Цвет линии для остальных браузеров */
    background-color: #bebebe;
    /* Цвет линии для браузера Firefox и Opera */
    height: 1px;
    /* Толщина линии */
    width: 140px;
    margin-right: 60px;
    float: right;
}

form {
    margin-top: 17px;
}

#input-word {
    margin-left: 60px;
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid rgba(190, 190, 190, 0.7);
    width: 326px;
    height: 48px;
    margin-bottom: 10px;
    font-family: "Verdana", sans-serif;
    color: #434343;
    font-size: 14px;
    line-height: 21px;
    box-sizing: border-box;
    padding-left: 10px;
}

#input-word.text:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}

label {
    font-family: "Verdana", sans-serif;
    color: #434343;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
}

.terms {
    font-family: "Verdana", sans-serif;
    color: #3cb878;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
}


.checkbox-input {
    position: relative;
    margin-top: 10px;
}

.createaccount {
    display: block;
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    width: 327px;
    height: 46px;
    border-radius: 5px;
    background-color: #3cb878;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid #3cb878;
}

a {
    text-decoration: none;
}

/* Hovers*/

.logo-name:hover {
    color: #3cb878;
}

.icon-one:hover {
    background: url(../img/header-icons.png) no-repeat;
    background-position: 6px 1px;
}

.icon-two:hover {
    background: url(../img/header-icons.png) no-repeat;
    background-position: -42px 2px;
}

.icon-three:hover {
    background: url(../img/header-icons.png) no-repeat;
    background-position: -100px 1px;
}

.checkbox {
    display: none;
    position: absolute;
    top: -1px;
    left: 59px;
    opacity: 0;
}
/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
	position: relative;      /*  задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
	width: 17px;             /*  задаем ширину */
	height: 17px;            /* задаем высоту */
	border: 1px solid #ccc;
    border-radius: 2px;
    margin-left: 60px;
}
/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}
.label{
    margin-left: 10px;
} 

.checkbox:checked + .checkbox-custom::before {
	content: "";             /* Добавляем наш псевдоэлемент */
	display: block;			 /* Делаем его блочным элементом */
	position: absolute;      /* Позиционируем его абсолютным образом */
	/* Задаем расстояние от верхней, правой, нижней и левой границы */
	top: 3px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: url(../img/checkbox.svg) no-repeat;    /* Добавляем галочку */
	border-radius: 2px;
}