body{
    background-color: black
}
table{
    margin: 70px auto;
    border-spacing: 0px;
    border: 15px solid grey;
    width: 700px;
    border-image: linear-gradient(to bottom, black, grey) 1 100%;
    
}
tr, td{
    border: 1px solid black;
    height: 60px;
    width: 60px;
    border: 3px solid gray;
    border-collapse: collapse;
   
}
.none{
    opacity: 0;
    display: none;
}
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.white{
    background-color: white;
}
