.logo-color {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 100px;
    font-weight: 400;
    /* цвет первый букв логотипа */
}

.logo {
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 20px;
}

.logo:first-letter {
    text-transform: uppercase;
    /* первая буква логотипа с большой */
}

.link-logo {
    /* логотип ссылка */
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #4bcaff;
    /* цвет логотипа */
    font-size: 100px;
    font-weight: 400;
}

.menu-item {
    background-color: #35444f;
    /* width: 1280px; */
    margin: 0 auto;
    height: 59px;
    list-style: none;
    margin: 0px;
}

.menu-item1 {
    background-color: #222f3a;
    border-left: solid 1px white;
    border-right: solid 1px white;
    width: 150px;
    height: 59px;
}

.menu-top {
    display: flex;
    text-align: center;
    display: flex;
    text-align: center;
    /* width: 1280px; */
    background-color: #35444f;
    padding-left: 190px;
    padding-right: 50px;
}

.menu {
    width: 1280px;
    margin: 0 auto;
}

.link1 {
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 21px;
    margin: 20px;
}

.link1:first-letter {
    text-transform: uppercase;
    /* первая буква верхнего меню с большой */
}

.link2:first-letter {
    text-transform: uppercase;
    /* первая буква верхнего меню с большой */
}

.link3:first-letter {
    text-transform: uppercase;
    /* первая буква верхнего меню с большой */
}

.menu-left {
    width: 1280px;
    margin: 0 auto;
    padding-top: 40px;
}

.menu-left-nav {
    width: 344px;
    height: 399px;
    border: solid 0.5px #35444f;
    float: left;
}

.menu-item-left {
    height: 20%;
    width: 100%;
    padding: 0px;
}
/* если вдруг не подойдет смена цвета текста
.link3 {
    display: block;
    text-decoration: none;
    background-color: #bfbfbf;
    font-family: 'Roboto', sans-serif;
    padding-right: 10px;
    color: #495863;
    font-size: 25px;
    font-weight: 400;
    padding: 20px;
    padding-left: 60px;
}
*/
.link2 {
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #495863;
    font-size: 25px;
    font-weight: 400;
    padding-left: 30px;
    padding-top: 20px;
    height: 60px;
}

.photo-center {
    width: 885px;
    height: 529px;
    border: solid 1px #495863;
    margin-left: auto;
    margin-right: 0em;
}

.top-img {
    Width: 315px;
    Height: 380px;
    Padding-left: 300px;
    Padding-top: 75px
}

div.text-block {
    width: 1280px;
    margin: 0 auto;
}

.text1 {
    width: 885px;
    margin-left: auto;
    margin-right: 0em;
}

.text4 {
    font-family: 'Roboto', sans-serif;
    color: #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 20px;
}

.text2 {
    width: 885px;
    margin-left: auto;
    margin-right: 0em;
}

.text5 {
    font-family: 'Roboto', sans-serif;
    color: #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 20px;
}

.bottom-menu {
    width: 1280px;
    margin: 0 auto;
    height: 59px;
    background-color: #bfbfbf;
}

.bottom-list {
    display: flex;
    list-style: none;
    float: left;
}

.link5 {
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #0c1927;
    font-size: 25px;
    font-weight: 400;
    line-height: 59px;
    text-align: center;
    margin-left: 30px;
}

.link6 {
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #3181a6;
    font-size: 25px;
    font-weight: 400;
    line-height: 59px;
    text-align: center;
    margin-left: 30px;
    text-decoration: underline;
}

.link5:first-letter {
    text-transform: uppercase;
    /* первая буква верхнего меню с большой */
}

.link6:first-letter {
    text-transform: uppercase;
    /* первая буква верхнего меню с большой */
}

.copy {
    font-family: 'Roboto', sans-serif;
    color: #010000;
    font-size: 24px;
    font-weight: 400;
    line-height: 59px;
    text-align: left;
    float: right;
    padding-right: 25px;
}

.copy::first-letter {
    text-transform: uppercase;
}
.link2:hover{
    background-color:  #bfbfbf;
    text-align: center;
    font-weight: bold;
}
.link1:hover{
    font-weight: bold;
}
.link5:hover{
    font-weight: bold;
}
.link6:hover{
    font-weight: bold;
}