.head-img {
    background-image: url(../img/bg1.jpg);
    width: 100%;
    height: 900px;
    font-size: 0px;
}

.main-text-under {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    margin: 30px;
    text-transform: uppercase;
}

.name-of-company {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 500px;
    padding-left: 78px;
    margin-bottom: 10px;
}

.under-text-name {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 18px;
    padding-left: 78px;
    /* Приближение из-за подстановки шрифтов */
}

.bottom-text {
    font-family: 'Lato', sans-serif;
    color: #4d4943;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
}

.text-with-line {
    margin-top: 101px;
    margin-bottom: 120px;
}

.line-under-text {
    text-align: center;
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    border: 0px;
    margin-top: 30px;
}

.speed-background {
    background-image: url(../img/bg2.jpg);
    width: 100%;
    height: 380px;
    margin-top: 90px;
}

.trees-background {
    background-image: url(../img/bg3.jpg);
    width: 100%;
    height: 475px;
    margin-top: 90px;
}

.river-background {
    background-image: url(../img/bg4.jpg);
    width: 100%;
    height: 485px;
    margin-top: 90px;
}

/* Parallax */

.river-background, .trees-background, .speed-background, .head-img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-inside-backgroundimage, .yellow-text {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 22px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10%;
}

.yellow-text {
    color: #f1ad1d;
}

.img-of-companies {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.photo-company-national, .photo-company-journey, .photo-company-dryme, .photo-company-house {
    margin-left: 25px;
}

.photo-company-journey {
    height: 43px
}

.photo-company-dryme {
    height: 35px;
}

.photo-company-national {
    height: 27px
}

.photo-company-house {
    height: 35px;
}

.white-square {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    background-color: #ffffff;
    width: 152px;
    height: 129px;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #f1ad1d;
    font-size: 54px;
    font-weight: 700;
    margin-left: 78px;
    margin-top: 30px;
}

.red-square {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    width: 831px;
    height: 129px;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 54px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    box-sizing: border-box;
    text-transform: uppercase;
    padding-top: 30px;
    padding-left: 10px;
}

.themeforest {
    color: #fff;
    padding-top: 45px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 30px;
}

.theme-yellow {
    color: #f1ad1d;
    text-decoration: none;
}

.line-white {
    text-align: center;
    background-color: #fff;
    width: 281px;
    height: 3px;
    border: 0px;
    margin-top: 60px;
}