.menu{
    list-style: none;
    justify-content: space-around;
    width: 800px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
    margin: auto;
    overflow: hidden;
    text-align: center;
}
.header{
background-color: rgba(192, 192, 192, 0.05);
padding: 0px;

}
.menu-item {
display: inline;
font-family: 'Roboto', sans-serif;
font-weight: bold;
color:  #16a085;
font-size: 18px;/* Приближение из-за подстановки шрифтов */
font-weight: 900;
line-height: 2;/* Приближение из-за подстановки шрифтов */
text-transform: uppercase;
text-decoration: none;
padding-right: 80px;
text-align: center;
width: 100%;
margin: auto;

}
.linkbuttom {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    font-family: GothamRounded;
color:  #ffffff;
font-size: 18px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
line-height: 45px;/* Приближение из-за подстановки шрифтов */
text-align: left;
text-transform: uppercase;
   } 
.link1 {
    text-decoration: none; 
    color:  #16a085;
    text-align: center;
    
   }
img{
width: 100%;
height: 750px;
}
.maintext{;
height: 400px;
background-color: rgba(192, 192, 192, 0.1);
text-align: center;
}
.name{
font-family: 'Roboto', sans-serif;
color:  #373737;
font-size: 28px;/* Приближение из-за подстановки шрифтов */
font-weight: 900;
text-align: center;
text-transform: uppercase;
margin-bottom: 15px;
}
.text1{
font-family: 'Roboto', sans-serif;
color:  #373737;
font-size: 15px;/* Приближение из-за подстановки шрифтов */
font-weight: 900;
line-height: 26px;/* Приближение из-за подстановки шрифтов */
text-align: center;
margin-left: 70px;
margin-right: 70px;
margin-bottom: 30px;
}
.text2{
    font-family: 'Roboto', sans-serif;
    color:  #373737;
    font-size: 15px;/* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-align: center;  
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
}
.footer{
    text-align: center;
    padding: 10px;
}
.copy{
font-family: 'Roboto', sans-serif;
color:  #373737;
font-size: 16px;/* Приближение из-за подстановки шрифтов */
font-weight: 900;
text-align: right;
}
.buttom{
border-radius: 3px;
background-color:  #16a085;
width: 192px;
height: 51px;
margin: auto;
}